* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
}

.banner {
  height: 100vh;
  background-image: url(../images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .menu .burger {
  display: none;
}

.banner .menu .logo {
  width: 9rem;
  height: 2rem;
  fill: white;
}

.banner .menu .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  text-decoration: none;
  list-style: none;
}

.banner .menu .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.banner .menu .nav-links a:hover {
  text-transform: uppercase;
  background-color: rgba(25, 83, 107, 0.1);
}

.banner h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Fraunces', serif;
  font-size: 3rem;
  text-align: center;
  margin: 4rem;
}

.banner .arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .arrow-down img {
  padding-top: 2rem;
}

@media screen and (max-width: 680px) {
  .menu {
    padding: 2rem 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .burger {
    display: block !important;
    cursor: pointer;
  }
  .nav-links {
    background-color: white;
    position: absolute;
    top: 20%;
    width: 90%;
    height: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  .nav-links li {
    margin-bottom: 1rem;
  }
  .nav-links a {
    color: #818498 !important;
    font-size: 1.5rem !important;
  }
  .nav-links a:hover {
    text-transform: uppercase;
    background-color: #fad400 !important;
  }
  .nav-links .clip {
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    height: 3rem;
    width: 3rem;
    position: absolute;
    background-color: white;
    top: -10%;
    right: 0;
  }
  .nav-open {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.boxes .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.boxes .box1, .boxes .box4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes .box1 .text, .boxes .box4 .text {
  text-align: left;
}

.boxes .box1 h3, .boxes .box4 h3 {
  font-family: 'Fraunces', serif;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  color: #23303e;
}

.boxes .box1 p, .boxes .box4 p {
  font-size: 1rem;
  color: #818498;
  line-height: 2rem;
  margin-bottom: 1.2rem;
}

.boxes .box1 a, .boxes .box4 a {
  font-family: 'Fraunces', serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #23303e;
  text-decoration: none;
  position: relative;
  width: 100%;
  text-align: center;
}

.boxes .box1 a:before, .boxes .box4 a:before {
  content: ' ';
  position: absolute;
  width: 110%;
  height: .5rem;
  border-radius: 1rem;
  background: rgba(250, 212, 0, 0.3);
  left: -5%;
  top: 65%;
  z-index: -1;
}

.boxes .box1 a:hover:before, .boxes .box4 a:hover:before {
  background: #fad400;
}

.boxes .box1 .line-color:before, .boxes .box4 .line-color:before {
  background: rgba(254, 120, 103, 0.3);
}

.boxes .box1 .line-color:hover:before, .boxes .box4 .line-color:hover:before {
  background: #fe7867;
}

.boxes .box2 {
  background-image: url(../images/desktop/image-desktop-egg.jpg);
}

.boxes .box3 {
  background-image: url(../images/desktop/image-desktop-cup.jpg);
}

.boxes .box5 {
  background-image: url(../images/desktop/image-desktop-cherry.jpg);
}

.boxes .box6 {
  background-image: url(../images/desktop/image-desktop-orange.jpg);
}

.boxes .box5, .boxes .box6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.boxes .box5 h4, .boxes .box6 h4 {
  color: #25564b;
  font-size: 1.4rem;
  font-family: 'Fraunces', serif;
  margin-bottom: 2rem;
}

.boxes .box5 p, .boxes .box6 p {
  color: #5a636c;
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.7rem;
}

.testmonials h2 {
  text-align: center;
  padding: 6rem 0rem 4rem 0rem;
  text-transform: uppercase;
  color: #a7abae;
  font-family: 'Fraunces', serif;
  font-size: 1rem;
  letter-spacing: 4px;
}

.testmonials .clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  margin-bottom: 6rem;
}

.testmonials .clients .client {
  text-align: center;
}

.testmonials .clients .client img {
  width: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
}

.testmonials .clients .client p {
  color: #818498;
  line-height: 1.7rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.testmonials .clients .client .name {
  font-family: 'Fraunces', serif;
  display: block;
  margin-bottom: .5rem;
  font-size: 1rem;
}

.testmonials .clients .client .job {
  color: #a7abae;
  font-size: .80rem;
}

.testmonials .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #458c7e;
}

.testmonials .gallery .images {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20rem;
          flex: 1 0 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.testmonials .gallery .images img {
  width: 100%;
}

footer {
  background-color: #458c7e;
  color: #25564b;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .logo {
  padding: 2rem 0rem;
}

.footer-container nav {
  padding-bottom: 3rem;
}

.footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  text-decoration: none;
  list-style: none;
}

.footer-container ul a {
  text-decoration: none;
  color: #25564b;
  font-size: 1rem;
}

.footer-container ul a:hover {
  color: white;
}

.footer-container .social {
  padding-bottom: 2rem;
}

.footer-container .social img {
  cursor: pointer;
  padding: .90rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 1rem;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */